.nvd3 .nv-heatMapChart {
    fill: #fff;
    stroke: #ccc;
}

.nvd3 .nv-heatMapChart .nv-heatMapChartLabel {
    text-align: center;
}

.nvd3 .nv-heatMapGroup .nv-heatMapGroupBoundary {
    fill: none;
    stroke: #000;
    stroke-width: 2px;
}

.nvd3 .nv-heatMapGroup .nv-heatMapGroupLabel {
}

.ndv3 .nv-heatMapCell {
    fill: #fff;
    stroke: #ccc;
}

.nvd3 .nv-heatMapRowLabel {
}